@import "./global";

body {
    main {
        #formContainer {
            form {
                display: flex;
                flex-direction: column;
                gap: 3rem;

                fieldset {
                    border: none;
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;

                    .helperText {
                        color: $text-tertiary;
                        font-size: 0.875rem;
                        line-height: 140%;
                    }

                    legend {
                        font-size: 1rem;
                        font-weight: 600;
                        line-height: 125%;
                        margin-bottom: 1.5rem;
                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        gap: 0.25rem;

                        label {
                            color: $text-secondary;
                            font-size: 0.875rem;
                            line-height: 140%;
                        }

                        input, textarea, select {
                            border: 1px solid $stroke-default;
                            border-radius: 0.5rem;
                            font-size: 1rem;
                            line-height: 150%;
                            padding: 0.75rem 1rem;

                            &::placeholder {
                                color: $text-tertiary;
                            }

                            &:disabled {
                                background-color: $surface-disabled;
                                border: 1px solid $stroke-default;
                                color: $text-primary;
                            }
                        }
                    }

                    .twoColumnInputs {
                        display: grid;
                        grid-template-columns: 3fr 1fr;
                        gap: 1.25rem;
                    }
                }
            }
        }
    }
}